{% extends 'mailing/base.html' %}

{% block content %}
{% for mailing in object_list %}
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text"> Начало рассылки: {{ mailing.date_start_mailing }}, Окончание рассылки: {{ mailing.last_mailing }} </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:detail_mailing' mailing.pk %}">Посмотреть</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:update_mailing' mailing.pk %}">Редактировать
                    </a>
                    <a class="btn btn-danger" href="{% url 'mailing:delete_mailing' mailing.pk %}">Удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}