{% extends 'mailing/base.html' %}

{% block content %}
<div class="col-12">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {{ formset_mail.management_form }}
                        {% for form in formset_mail.forms %}
                        {{ form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {{ formset_client.management_form }}
                        {% for form in formset_client.forms %}
                        {{ form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}