{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ object.date_start_mailing }}</li>
                    <li class="list-group-item">{{ object.last_mailing }}</li>
                    <li class="list-group-item">{{ periodicity }}</li>
                    {% if mail_all is not None %}
                    <li class="list-group-item">{{ mail_all.subject_mail }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}