{% load static %}
<footer class="text-muted py-5">
    <div class="container">
        <p class="float-right mb-1">
            <a href="#">Наверх</a>
        </p>
        <p class="mb-1">Пример альбома - © Bootstrap, пожалуйста, скачайте и настройте его под себя!</p>
        <p class="mb-0">Новичок в Bootstrap? <a href="/">Поседите домашнюю страницу</a> или прочтите наше <a hrefdocs/getting-started/introduction">руководство
            по началу работы</a>.</p>
    </div>
</footer>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>